.tab-content {
    position: relative;
  } 
  
/* [data-tab-content] {
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
  }  */
  
 .active[data-tab-content] {
    opacity: 1;
    visibility: visible;
    height: auto;
  } 

  


  .books-section-header {
    position: relative; 
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 0px;
  }


  .books-section-title {
    font-size: 3em;
    font-weight: 500;
    line-height: 1;
    position: relative;
    margin-bottom: 75px;
    text-align: center;
    
  }


  .books-section-header .title span {
    font-size: 14px;
    color: #afafaf;
    text-transform: uppercase;
  }
  
  .custom-tabs {
    display: flex;
    flex-wrap: wrap;
    margin: 80px 0;
    justify-content: center;
    list-style: none;
  }
  
  .custom-tabs .tab {
    font-weight: 600;
    color: #251e1e;
    margin-right: 50px;
    cursor: pointer;
  }
  
  .custom-tabs .tab.active,
  .custom-tabs .tab:hover {
    color: #9ccc17ea;
    border-bottom: 2px solid #9ccc17ea;
  }

  /*  Books List */


.list-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .list-style {
    position: relative;
    overflow: hidden;
  }
  
  .slick-slider .list-style {
    margin: 0 15px 25px;
  }
  
  .list-style figcaption p {
    margin-bottom: 20px;
  }
  
  .list-style img.list-item {
    position: relative;
    /* background: #d4cea9; */
    /* border: 1px solid #EAE8DF; */
    border-bottom: 2px solid #EAE8DF;
    padding: 15%;
    cursor: pointer;
    width: 100%;
  }
  
  .list-style button.add-to-cart {
    position: absolute;
    background: #000;
    color: #fff;
    width: 100%;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    line-height: 3;
    bottom: 300px;
    bottom: -65px;
    left: 0;
    z-index: 9;
    transition: 0.3s ease-out;
  }
  
  .list-style:hover button.add-to-cart {
    bottom: 380px;
    bottom: 0;
  }
  
  .list-item figcaption {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .list-item figcaption>h3 {
    font-size: 1.4em;
    font-weight: 500;
    color: #74642F;
    margin: 0;
  }
  .list-item figcaption>p {
    margin: 0;
  }
  
  .list-item .item-price {
    color: #302a18;
    font-weight: 500;
    font-size: 1.3em;
  }
  
  @media screen and (max-width: 768px) {
    .list-grid .list-item {
      width: 45%;
    }
  
    .list-style img.list-item {
      /*height: 550px;*/
      object-fit: contain;
      margin: 0 auto;
    }
  
    .list-grid.col-3 .list-style,
    .list-grid.col-4 .list-style,
    .list-grid.col-5 .list-style {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 575px) {
    .list-grid .list-style {
      width: 100%;
    }
  }